In [18]:
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

import seaborn as sns

from cellacdc import plot

In [19]:
cwd_path = os.getcwd()
tables_path = os.path.join(cwd_path, 'tables')

In [20]:
df1_path = os.path.join(
    tables_path, 'repl_01_221111_Mic60_3_AllPos_p-_ellip_test_TOT_data.csv'
)
df2_path = os.path.join(
    tables_path, 'repl_02_221116_Mic60_3_AllPos_p-_ellip_test_TOT_data.csv'
)
df3_path = os.path.join(
    tables_path, 'repl_03_221117_Mic60_3_AllPos_p-_ellip_test_TOT_data.csv'
)

df1 = pd.read_csv(df1_path)
df2 = pd.read_csv(df2_path)
df3 = pd.read_csv(df3_path)

df_SCGE = pd.concat([df1, df2, df3], keys=['2022-11-11','2022-11-16','2022-11-17'], names=['replicate'])

In [21]:
outliers = [
    ('2022-11-11', 'Position_48', 6),
    ('2022-11-11', 'Position_21', 9)
]
df_SCGE = (
    df_SCGE.reset_index()
    .set_index(['replicate', 'Position_n', 'Moth_ID'])
    # .reset_index()
)
# df_SCGE.sort_values('cell_vol_fl')[['Position_n', 'Moth_ID', 'cell_vol_fl']]
df_SCGE.sort_values('cell_vol_fl')[['cell_vol_fl']]

                                cell_vol_fl
replicate  Position_n  Moth_ID
2022-11-11 Position_48 6           1.137841
           Position_21 9           1.630779
2022-11-17 Position_16 5           5.450725
2022-11-11 Position_40 2          22.680217
2022-11-16 Position_3  10         27.594531
...                                     ...
2022-11-17 Position_37 1         294.331959
           Position_2  2         301.078306
2022-11-16 Position_33 1         315.413949
2022-11-17 Position_46 1         360.908803
2022-11-16 Position_32 1         396.802868

[471 rows x 1 columns]

In [22]:
for outlier in outliers:
    df_SCGE = df_SCGE.drop(index=outlier)

In [23]:
df_SCGE.loc[('2022-11-17', 'Position_16', 4)]

level_1                                            39
cell_cycle_stage                                   G1
frame_i                                             0
original_filename                           YFT006-16
timestamp                     2022/12/02 21:01:17.582
time_min                                          0.0
cell_area_pxl                                  6126.0
cell_area_um2                               27.705218
ratio_areas_bud_moth                              0.0
cell_vol_vox                            337153.476301
cell_vol_fl                                102.542643
ratio_volumes_bud_moth                            0.0
predicted_cell_cycle_stage                         G1
generation_num                                    2.0
num_spots                                          31
ref_ch_vol_vox                                  29002
ref_ch_vol_um3                              45.907175
ref_ch_vol_len_um                                   0
ref_ch_num_fragments                                8
relationship                                   mother
relative_ID                                      -1.0
OF                                                  0
num_spots_inside_ref_ch                            47
spots_ch_norm_val                            0.084158
ref_ch_norm_val                              0.161321
spotsize_tot_fluoresc                      371.321569
spots_INref_tot_fluoresc                  1568.003922
creation_datetime             2022/12/02 21:01:33.857
ratio_num_spots_bud_moth                          NaN
Name: (2022-11-17, Position_16, 4), dtype: object

In [24]:
df_SCGE.loc[('2022-11-17')]
sum_cols = ['ref_ch_vol_um3', 'num_spots', 'cell_vol_fl']
for sum_col in sum_cols:
    df_SCGE.loc[('2022-11-17', 'Position_16', 4), sum_col] = (
        df_SCGE.loc[('2022-11-17', 'Position_16', 4), sum_col] 
        + df_SCGE.loc[('2022-11-17', 'Position_16', 5), sum_col]
    )

In [26]:
df_SCGE.loc[('2022-11-17', 'Position_16', 4), 'cell_cycle_stage'] = 'S'
df_SCGE.loc[('2022-11-17', 'Position_16', 4), 'relative_ID'] = 5

In [28]:
df_SCGE = df_SCGE.drop(index=('2022-11-17', 'Position_16', 5))

In [29]:
df_SCGE.sort_values('cell_vol_fl')[['cell_vol_fl']]

                                cell_vol_fl
replicate  Position_n  Moth_ID
2022-11-11 Position_40 2          22.680217
2022-11-16 Position_3  10         27.594531
2022-11-11 Position_9  5          33.162565
           Position_19 3          33.294227
           Position_25 11         34.938682
...                                     ...
2022-11-17 Position_37 1         294.331959
           Position_2  2         301.078306
2022-11-16 Position_33 1         315.413949
2022-11-17 Position_46 1         360.908803
2022-11-16 Position_32 1         396.802868

[468 rows x 1 columns]

In [ ]:
df_SCGE.to_csv(os.path.join(tables_path, 'Mic60_del_SCGE_spotMAX_data.csv'))